.publisher-card1-container {
  width: 264px;
  height: 357px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(217, 217, 217, 0);
}
.publisher-card1-container1 {
  top: -266px;
  right: -48px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.publisher-card1-feature-card {
  width: 100%;
  height: 189px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  margin-top: 0px;
  transition: 0.3s;
  align-items: center;
  margin-left: 15px;
  padding-top: 16px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--dl-color-gray-white);
}
.publisher-card1-feature-card:hover {
  transform: scale(1.02);
}
.publisher-card1-image {
  width: var(--dl-size-size-medium);
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  object-fit: cover;
  padding-right: 5px;
}
.publisher-card1-feature-card1 {
  width: 100%;
  height: 209px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.publisher-card1-feature-card1:hover {
  transform: scale(1.02);
}
.publisher-card1-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.publisher-card1-button {
  color: var(--dl-color-gray-white);
  background-color: #ad65ff;
}
.publisher-card1-feature-card2 {
  width: 100%;
  height: 189px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  margin-top: var(--dl-space-space-threeunits);
  transition: 0.3s;
  align-items: center;
  margin-left: 15px;
  padding-top: 16px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--dl-color-gray-white);
}
.publisher-card1-feature-card2:hover {
  transform: scale(1.02);
}
.publisher-card1-image1 {
  width: var(--dl-size-size-medium);
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  object-fit: cover;
  padding-right: 5px;
}
.publisher-card1-feature-card3 {
  width: 100%;
  height: 209px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.publisher-card1-feature-card3:hover {
  transform: scale(1.02);
}
.publisher-card1-text1 {
  margin-bottom: var(--dl-space-space-twounits);
}
.publisher-card1-button1 {
  color: var(--dl-color-gray-white);
  background-color: #ad65ff;
}
.publisher-card1-feature-card4 {
  width: 100%;
  height: 189px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-end;
  background-color: var(--dl-color-gray-white);
}
.publisher-card1-feature-card4:hover {
  transform: scale(1.02);
}
.publisher-card1-image2 {
  width: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
}
.publisher-card1-feature-card5 {
  width: 100%;
  height: 209px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.publisher-card1-feature-card5:hover {
  transform: scale(1.02);
}
.publisher-card1-text2 {
  margin-bottom: var(--dl-space-space-twounits);
}
.publisher-card1-button2 {
  color: var(--dl-color-gray-white);
  background-color: #ad65ff;
}
.publisher-card1-root-class-name {
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  margin-right: 120px;
}
